.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 5rem;
  background-color: rgba(0, 0, 0, 0.774);
  color: white;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
  transition: all 0.2s;
  font-family: 'Josefin Sans';
  font-weight: 300;
  letter-spacing: .1rem;
}


.main-image {
  width: 100%;
  height: 33rem;
  z-index: 0;
  background-position: top;
  overflow: hidden;
}

.main-image img {
  width: 110%;
  height: 95vh;
  background-position: center;
  object-fit: cover;
  clip-path:polygon(0 0, 100% 0, 100% 44%, 0 70%);
}

